html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background: $yellow;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;
  color: $dark-grey;
  font-family: $Apercu;
  line-height: 1.5;
  width: 100%;

  &.night {
    background-color: $night;
    color: $slate;
    ::selection {
      color: $black;
      background: $yellow;
    }
    .switch-wrapper {
      .sun {
        background: url('../img/switch/sun-white.svg') no-repeat center;
        background-size: 100%;
      }
      .moon {
        background: url('../img/switch/moon-white.svg') no-repeat center;
        background-size: 100%;
      }
    }
    a,
    strong,
    .intro,
    .skills .menu .skillz__category__label,
    .experience .job__time,
    .footer__copyright,
    .status {
      color: $off-white;
    }
    .section__content .underline-link:after {
      background: $off-white;
    }
  }
}

a {
  @include transition;
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

strong {
  font-weight: 700;
  color: $black;
}

.emoji {
  display: inline-block;
  vertical-align: text-top;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.section {
  display: flex;
  justify-content: center;
  padding: 100px 170px;
  @include thirteen {
    padding: 100px;
  }
  @include desktop {
    padding: 50px;
  }
  @include tablet {
    display: block;
  }
  @include mobile {
    padding: 50px 35px;
  }
  &__title {
    flex-shrink: 0;
    width: 200px;
    margin-right: 70px;
    color: $blue;
    text-transform: uppercase;
    text-align: right;
    font-weight: 700;
    letter-spacing: 2px;
    @include desktop {
      margin-right: 50px;
    }
    @include little-desktop {
      width: 150px;
    }
    @include tablet {
      text-align: left;
      width: auto;
    }
  }
  &__content {
    font-weight: 300;
    font-size: 1rem;
    width: 100%;
    max-width: 650px;
    @include tablet {
      padding-top: 30px;
      padding-left: 50px;
    }
    @include mobile {
      padding-left: 30px;
    }
    p {
      margin-top: 0;
      margin-bottom: 25px;
    }
    .underline-link {
      position: relative;
      display: inline-block;
      &:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: $black;
        content: '';
        opacity: 0;
        transition: height 0.3s, opacity 0.3s, transform 0.3s;
        transform: translateY(-5px);
      }
      &:hover,
      &:focus {
        &:after {
          height: 2px;
          border-radius: 3px;
          opacity: 1;
          transform: translateY(-2px);
        }
      }
    }
  }
}

.arrow-link {
  @include transition;
  font-weight: 700;
  display: inline-block;
  background-color: transparent;
  white-space: nowrap;
  &:after {
    @include transition;
    position: relative;
    bottom: 2px;
    margin-left: 15px;
    content: '';
    background: url('../img/arrow.png') no-repeat center;
    background-size: 100%;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  &:hover:after {
    transform: translateX(7px);
  }
}

.small {
  font-family: 'Inconsolata', monospace;
  font-size: 0.85rem;
  display: inline-block;
  margin-top: 15px;
  &:after {
    display: none;
  }
}

#top-button {
  @include transition;
  background: transparent;
  border: none;
  outline: none;
  width: 40px;
  position: fixed;
  bottom: 25px;
  right: 10px;
  cursor: pointer;
  display: none;
  @include desktop {
    bottom: 20px;
    right: 7px;
    width: 35px;
  }
  @include mobile {
    bottom: 15px;
    right: 3px;
  }

  &:hover,
  &:focus {
    transform: translateY(-10px);
  }
  img {
    width: 100%;
  }
}

.waypoint {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: opacity 0.6s cubic-bezier(0.694, 0, 0.335, 1),
    transform 0.6s cubic-bezier(0.694, 0, 0.335, 1);
}

.in-view {
  opacity: 1;
  transform: translateZ(0);
}









.row:before,
.row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

.row .row {
	width: auto;
	max-width: none;
	margin-left: -20px;
	margin-right: -20px;
}

/* dropdown nav */
.main-navigation {
	background: #000000;
	padding: 24px 30px 42px;
	margin: 0;
	width: 100%;
	height: auto;
	clear: both;
	display: none;
}
.main-navigation > li {
	display: block;
	height: auto;
	text-align: left;
	padding: 0;
}
.main-navigation li a {
	display: block;
	color: #FFFFFF;
	width: auto;
	padding: 15px 0;
	line-height: 16px;
	border: none;
}
.main-navigation li a:hover {
	color: #FF0077;
	padding-left: 1rem;
}
.main-navigation li.current > a {
	background: none;
	color: #FF0077;
}

/* navigation panel */
#main-nav-wrap {
	display: block;
	width: 100%;
	font-family: "poppins-medium", sans-serif;
	font-size: 1.5rem;
	position: absolute;
	top: 100%;
	left: 0;
}



/**
 * menu toggle - (_layout.css)
 * -------------------------------------------------------------------
 */
.menu-toggle {
	float: left;
	width: 40px;
	height: 40px;
	margin-left: 20px;
	margin-top: 13px;
	display: block;
	position: relative;
}

.menu-toggle span {
	display: block;
	background-color: #FF0077;
	width: 24px;
	height: 3px;
	margin-top: -1.5px;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	position: absolute;
	right: 8px;
	top: 50%;
	bottom: auto;
	left: auto;
	-moz-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}

.menu-toggle span::before, .menu-toggle span::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: inherit;
	position: absolute;
	left: 0;
	-moz-transition-duration: 0.2s, 0.2s;
	-o-transition-duration: 0.2s, 0.2s;
	-webkit-transition-duration: 0.2s, 0.2s;
	-ms-transition-duration: 0.2s, 0.2s;
	transition-duration: 0.2s, 0.2s;
	-moz-transition-delay: 0.2s, 0s;
	-o-transition-delay: 0.2s, 0s;
	-webkit-transition-delay: 0.2s, 0s;
	-ms-transition-delay: 0.2s, 0s;
	transition-delay: 0.2s, 0s;
}
.menu-toggle span::before {
	top: -8px;
	-moz-transition-property: top, transform;
	-o-transition-property: top, transform;
	-webkit-transition-property: top, transform;
	-ms-transition-property: top, transform;
	transition-property: top, transform;
}
.menu-toggle span::after {
	bottom: -8px;
	-moz-transition-property: bottom, transform;
	-o-transition-property: bottom, transform;
	-webkit-transition-property: bottom, transform;
	-ms-transition-property: bottom, transform;
	transition-property: bottom, transform;
}

/* is clicked */
.menu-toggle.is-clicked span {
	background-color: rgba(255, 0, 119, 0);
}
.menu-toggle.is-clicked span::before, .menu-toggle.is-clicked span::after {
	background-color: #ff0077;
	-moz-transition-delay: 0s, 0.2s;
	-o-transition-delay: 0s, 0.2s;
	-webkit-transition-delay: 0s, 0.2s;
	-ms-transition-delay: 0s, 0.2s;
	transition-delay: 0s, 0.2s;
}
.menu-toggle.is-clicked span::before {
	top: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu-toggle.is-clicked span::after {
	bottom: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


.row {
	position: relative;
	min-height: 66px;
}
.top-bar {
	display: block;
	background: #000000;
	min-width: 220px;
	min-height: 66px;
	position: absolute;
	left: 90px;
	top: 0;
}

