<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Product Manager at
      <a class="underline-link" href="https://www.walmartlabs.com/" target="_blank">Walmart Labs</a> building awesome products for Walmart's UK business - ASDA. I recently graduated as an MBA from
      <a class="underline-link" href="https://www.darden.virginia.edu/" target="_blank">UVA Darden School of Business</a> with concentrations in 
      Business Analytics, Marketing and Corporate Innovation.
    </p>

    <p>
      As a Product Manager, I enjoy being at the ggg of business, technology and design. 
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I am generally baking, experimenting with healthy variants of the high carb dishes that I love or I am gone hiking.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
